*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.wrapper{
    min-height:100vh;
    background-color:rgba(0,0,0,.4);
    font-family: 'Open Sans', sans-serif;
    padding-top:40px;
}

.center {
    text-align:center;
}

.container{
    max-width:400px;
    margin:0 auto;
    background-color:white;
    padding:10px;
    box-shadow:0 0 20px rgba(0,0,0,.4);
    border-radius:3px;
}

.social-login{
    margin: 5px auto;
    text-decoration:none;
    padding:10px 15px;
    margin-bottom:10px;
}

div.google-login{
    display:flex;
    align-items: center;
    justify-content: center;
}

form{
    max-width:250px;
    margin:0 auto;
    text-align:left;
}

p.separator{
    margin:25px;
}

div.group{
    margin-top:15px;
}

label{
    display:block;
    margin-bottom:5px;
}

div.group input{
    width:100%;
    padding:10px 4px;
    outline:none;
}

a.form-link{
    font-size: 11pt;
    color:black;
    display:block;
    margin:10px 0;
}

input[type="submit"]{
    margin-top: 7px;
    padding:15px 35px;
    outline:none;
    border:None;
    background-color:#20c198;
    color:white;
    transition:all .3s ease-in-out;
}

input[type="submit"]:hover{
    cursor:pointer;
    box-shadow:0 10px 15px -5px rgba(0,0,0,0.4);
}

.error-text {
    margin-top: 7px;
    color: red;
    font-weight: bold;
    font-size: 12pt;
}

.success-text {
    margin-top: 7px;
    color: green;
    font-size: 12pt;
}

.profile-info {
    margin-top: 10px;
}

.table dt {
    width: 40%;
}

.table dt {
    float: left;
    margin-right: 10%;
    max-width: 40%;
    font-weight: bold;
}

.table dd {
    color: grey;
    margin-left: 50%;
    margin-bottom: .5em;
}

.table dd::after {
    content: " ";
    display: block;
    clear: left;
}

.nav {
    margin-bottom: 10px;
}

.logout {
    display: inline;
}

.logout button {
    display: inline;
    font-weight: bold;
    color: blue;
    text-decoration: underline;
    border: none;
    cursor: pointer;
}