    <script>
        function onSuccess(googleUser) {
            console.log('Logged in as: ' + googleUser.getBasicProfile().getName());
            var idToken = googleUser.getAuthResponse().id_token;
            window.onbeforeunload = function(e){
                gapi.auth2.getAuthInstance().signOut();
            };
            window.location.replace("/login-google?id_token=" + idToken)
        }
        function onFailure(error) {
            console.log(error);
        }
        function renderButton() {
            gapi.signin2.render('google-login', {
                'scope': 'profile email',
                'width': 240,
                'height': 50,
                'longtitle': true,
                'theme': 'dark',
                'onsuccess': onSuccess,
                'onfailure': onFailure
            });
        }
    </script>

    <script src="/static/main.dist.js"></script>
    <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBOWyiG2zTfhd978O2DxQbxwQMKgPEdY04&libraries=places"></script>
    </body>
</html>
