{{ template "templates/header.html" . }}

<div class="wrapper" >
    <div class="container center">
        {{ if .IsDone }}
            An email containing password reset instructions has been sent to <strong>{{.Email}}</strong>. Please
            check your mail inbox in a moment.
        {{ else }}
            <h2>Forgot Password</h2>
            <form autocomplete="off" action="" method="post">
                <div class="group">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" value="{{.Email}}">
                </div>
                <input type="submit" value="Send Email" id="submit">
                {{ if .IsSubmitting }}
                    <div class="error-text">Account does not exist.</div>
                {{ end }}
            </form>
        {{ end }}
    </div>
</div>

{{ template "templates/footer.html" . }}
