<html>
  <head>
    <link rel="stylesheet" href="/static/style.css">
    <meta name="google-signin-client_id" content="1056080587894-kp7dmurov45kgd9726nvm6abqt3iv0ao.apps.googleusercontent.com">
    <title>{{ .Title }}</title>
  </head>
  <body>
