{{ template "templates/header.html" . }}

<div class="wrapper" >
    <div class="container center">
        <div id="google-login" class="google-login social-login">
            Sign in With Google
        </div>
        <p class="separator" >-OR-</p>
        <form autocomplete="off" action="" method="post">
            <div class="group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" value="{{.Form.Email}}">
            </div>
            <div class="group">
                <label for="password">Password:</label>
                <input id="password" type="password" name="password">
            </div>
            <a href="/forgot-password" class="form-link">Forgot password?</a>
            <a href="/register" class="form-link">Create an Account</a>
            <input type="submit" value="Login" id="submit">
            {{ if .InvalidLogin }}
                <div class="error-text">Invalid Email or Password</div>
            {{ end }}
        </form>
    </div>
</div>

{{ template "templates/footer.html" . }}
