{{ template "templates/header.html" . }}

<div class="wrapper" >
    <div class="container">
        <div class="nav">
            Welcome, {{ .Profile.FullName }}
            <form method="post" action="/logout" class="logout"><button type="submit">Logout</button></form>
        </div>
        <h2>Your Profile</h2>
        <dl class="table profile-info">
            <dt>Full Name</dt>
            <dd>{{ .Profile.FullName }}</dd>
            <dt>Email</dt>
            <dd>{{ .Profile.Email }}</dd>
            <dt>Address</dt>
            <dd>{{ .Profile.Address }}</dd>
            <dt>Telephone</dt>
            <dd>{{ .Profile.Telephone }}</dd>
        </dl>
        <a href="/edit-profile">Edit</a>
    </div>
</div>

{{ template "templates/footer.html" . }}
