{{ template "templates/header.html" . }}

<div class="wrapper" >
    <div class="container">
        {{ if not .IsRegister }}
            <div class="nav">
                <a href="/">Home</a>
            </div>
        {{ end }}
        <h2>{{.Title}}</h2>
        <form autocomplete="off" action="" method="post">
            {{ if not .IsRegister }}
                <div class="group">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" value="{{.Form.Email}}">
                </div>
            {{ else }}
                <input type="hidden" id="email" name="email" value="{{.Form.Email}}">
            {{ end }}
            <div class="group">
                <label for="full_name">Full Name:</label>
                <input type="text" id="full_name" name="full_name" value="{{.Form.FullName}}">
            </div>
            <div class="group">
                <label for="email">Address:</label>
                <input type="text" id="address" name="address" class="address-autocomplete" value="{{.Form.Address}}">
            </div>
            <div class="group">
                <label for="telephone">Telephone:</label>
                <input type="text" id="telephone" name="telephone" value="{{.Form.Telephone}}">
            </div>
            <input type="submit" value="Save" id="submit">
            {{ if .HasError }}
                <div class="error-text">{{.ErrorMessage}}</div>
            {{ else if .IsSubmitting }}
                <div class="success-text">Profile Saved Successfully</div>
            {{ end }}
        </form>
    </div>
</div>

{{ template "templates/footer.html" . }}
