{{ template "templates/header.html" . }}

<div class="wrapper" >
    <div class="container center">
        <h2>Register</h2>
        <form autocomplete="off" action="" method="post">
            <div class="group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" value="{{.Form.Email}}">
            </div>
            <div class="group">
                <label for="password">Password:</label>
                <input id="password" type="password" name="password">
            </div>
            <div class="group">
                <label for="confirm_password">Confirm Password:</label>
                <input id="confirm_password" type="password" name="confirm_password">
            </div>
            <input type="submit" value="Register" id="submit">
            {{ if .HasError }}
                <div class="error-text">{{.ErrorMessage}}</div>
            {{ end }}
        </form>
    </div>
</div>

{{ template "templates/footer.html" . }}
